In [ ]:
%LOAD postgresql host=localhost

In [ ]:
CREATE DATABASE class_music_festival;

In [ ]:
%LOAD postgresql host=localhost dbname=class_music_festival

In [ ]:
DROP TABLE IF EXISTS bands;
DROP TABLE IF EXISTS venues;
DROP TABLE IF EXISTS performances;
DROP TABLE IF EXISTS tickets;
DROP TABLE IF EXISTS purchases;
DROP TABLE IF EXISTS people;

In [ ]:
CREATE TABLE bands (
    id SERIAL PRIMARY KEY,
    name TEXT,
    fee INTEGER
);

In [ ]:
CREATE TABLE venues (
    id SERIAL PRIMARY KEY,
    name TEXT,
    capacity INTEGER
);

In [ ]:
CREATE TABLE performances (
    id SERIAL PRIMARY KEY,
    "start" TIMESTAMP,
    "end" TIMESTAMP,
    venue_id INTEGER,
    band_id INTEGER
);

In [ ]:
CREATE TABLE tickets (
    id SERIAL PRIMARY KEY,
    price INTEGER,
    ticketnum TEXT,
    performance_id INTEGER,
    purchase_id INTEGER
);

In [ ]:
CREATE TABLE purchases (
    id SERIAL PRIMARY KEY,
    "date" TIMESTAMP,
    person_id INTEGER
);

In [ ]:
CREATE TABLE people (
    id SERIAL PRIMARY KEY,
    name TEXT
);

Now switch to load_class_music_festival.ipynb to load data